:root{
    --accent-color: rgb(215,0,0);
    --main-light: rgb(240, 248, 255);
    --main-dark: rgb(15, 15, 15);
    --secondary-dark: rgb(25, 25, 25);
}

::selection{
    background: var(--accent-color);
}

html{
  background-color: var(--main-dark);
  color: var(--main-light);
  font-family: "Montserrat", sans-serif;
}
html,
body{
    width: calc(100% - 3px);
    height: 99%;
    overflow-x:hidden;
}
body{
  animation: fadeInAnimation ease 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    font-family: "Montserrat", sans-serif;      
    font-size: 1.2em;  
    border-radius: 6px;
    color: var(--main-light);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-align: center;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
button:hover{    
    background-color: var(--accent-color);
}
button a{  
  color: var(--main-light);
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 400;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu {
    position: fixed;
    right: 0%;  
    top : -20px;  
    height: 80px;
    width: 100%;
    text-align: right;    
    background-color: var(--secondary-dark); 
    z-index: 99;
  }
  
.navMenu a:first-child{
  margin-left: 15px;
}
.navMenu a{
    margin-top: 30px;
    color: var(--main-light);
    text-decoration: none;
    
    font-size: 1.2em;
    font-weight: 500;
    display: inline-flex;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-right: 30px;
    background-attachment: scroll;
  }
  
  .navMenu a:hover {
    color: var(--accent-color);
  }  
  
body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: var(--secondary-dark);        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid var(--secondary-dark);  /* creates padding around scroll thumb */
}

  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="navMenu"] {
      font-size: 0.75em;
    }
  }
  .mainTitle {
      text-align:center;
      position:relative;        
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  }
  .mainTitle header{
    font-size: 8em;
    font-size: min(4em);
    font-weight: bold;
  }

  footer{
    text-align: center;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
}