@import url("../main.css");

:root{
    --imageWidth : 663px;
    --imageHeight : 350px;
}
section{
  height: 100vh;
  top: 50%;
  text-align:center;
  
}
section .about{
    font-size: minmax(0.9em,1.4em);
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.screenshot{
   background-color: var(--secondary-dark);
   display: inline-flex;
   position: relative;
   border-radius: 10px;
   padding: 1%;
   margin-bottom: 5%;
   width: calc(100% - 400px);
}
.screenshot .img-container{
    height: max-content;
}
.screenshot .img-container img{
   border-radius: 10px;
   position: relative;
   vertical-align: middle;
   width: var(--imageWidth);
   height: var(--imageHeight);
}

.screenshot .description{
   /* height: calc(var(--imageHeight) - 45px);*/
    width: auto;
    overflow-y:auto;    
    overflow-x:hidden;    
    scroll-behavior: smooth;
    margin: 15px;
    text-align: left;
    
 }

 @media only screen and (max-width: 1350px) {
    /* For mobile phones: */
    [class*="screenshot"] {
        display: inline-block;
        position: relative;
        width: var(--imageWidth);
    }
    [class*="description"] {
        height: fit-content;
    }
}





  .screenshot .description::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  .screenshot .description::-webkit-scrollbar-track {
    background: var(--main-dark);        /* color of the tracking area */
  }
  .screenshot .description::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);    /* color of the scroll thumb */
    border-radius: 15px;       /* roundness of the scroll thumb */
    border: 3px solid var(--main-dark);  /* creates padding around scroll thumb */
  }