@import url("../main.css");
section{
    height: 100vh;
    top: 50%;
    text-align:center;
    
}

section .content{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
section .content .text{
    margin-top: 60px;
}
section .content .text:last-of-type{
    margin-top: 15px;
}